<aside>
  <a [routerLink]="['/home']">
    <img class="logo" src="./assets/logo/logo-leadersleague.svg" alt="Logo Origami" />
  </a>
  <nav>
    <ul>
      <li>
        <a
          [routerLink]="['/home']"
          [routerLinkActive]="['active-link']"
          #rla1="routerLinkActive"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <img
            *ngIf="currentTheme === 'light'"
            src="../../../assets/icon/home/home-{{ rla1.isActive ? 'red' : 'grey' }}.svg"
            alt="Home icon"
          />
          <img
            *ngIf="currentTheme === 'dark'"
            src="../../../assets/icon/home/home-{{ rla1.isActive ? 'light-grey' : 'grey' }}.svg"
            alt="Home icon"
          />
          <span>Home</span>
        </a>
      </li>
      <li>
        <a
          [routerLink]="['/musics']"
          [routerLinkActive]="['active-link']"
          #rla2="routerLinkActive"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <img
            *ngIf="currentTheme === 'light'"
            src="../../../assets/icon/music/music-{{ rla2.isActive ? 'red' : 'grey' }}.svg"
            alt="Music icon"
          />
          <img
            *ngIf="currentTheme === 'dark'"
            src="../../../assets/icon/music/music-{{ rla2.isActive ? 'light-grey' : 'grey' }}.svg"
            alt="Music icon"
          />
          <span>Musics</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/logout']">
          <img
            *ngIf="currentTheme === 'light'"
            src="../../../assets/icon/logout/logout-grey.svg"
            alt="Logout icon"
          />
          <img
            *ngIf="currentTheme === 'dark'"
            src="../../../assets/icon/logout/logout-lightgrey.svg"
            alt="Logout icon"
          />
          <span>Déconnexion</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
