/* You can add global styles to this file, and also import other style files */

body, body[data-theme="light"] {
  --login-primary-background: #F2F2F2;
  --login-secondary-background: #FFFFFF;
  --app-primary-background: #F7F7F7;
  --app-active-text: #B70217;
}
body[data-theme="dark"] {
  --login-primary-background: #323540;
  --login-secondary-background: #242731;
  --app-primary-background: #323540;
  --app-secondary-background: #242731;
  --app-active-text: #F1E8E9;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}
