<app-header></app-header>
<section>
  <span>{{ musicsAmount }} Musics</span>
  <span>
      {{ musicsDownloadable }}
    <h6>Downloadable</h6>
    </span>
</section>
<div class="underline"></div>
<div>
  <section>
    <app-error *ngIf="error" [message]="error.message"></app-error>
    <p *ngIf="loading && !error">Loading...</p>
    <ul *ngIf="!error">
      <li *ngFor="let track of tracks">
        <app-card
          [title]="track.title"
          [header]="track.genre"
          [content]="track.description"
          [media]="track.media"
          [durationMin]="track.durationMin"
          [durationSec]="track.durationSec"
        ></app-card>
      </li>
    </ul>
  </section>
  <aside>
    <app-music-filter></app-music-filter>
  </aside>
</div>
