div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3vw;
  width: 100vw;
  height: 100vh;
  section {
    width: 60vw;
    height: 100vh;
    h1 {
      margin: 0;
    }
  }
  aside {
    background-color: #c11919;
    width: 20vw;
    height: 100vh;
    h1 {
      margin: 0;
    }
  }
}
